.elsadat {
    background-color: rgb(196, 144, 144); 
    margin-left: 51px;
   font-size: 35px;
}
.hend2 {
   font-size: 25px;
    background-color: rgb(201, 183, 159);
}
.hend3 { background-color: rgb(196, 144, 144);
   font-size: 25px;
}
.hend4 {
    background-color: rgb(121, 52, 67);
    font-size:20px;
}
.hend5{
    background-color:rgb(145, 85, 85);
    font-size: 25px;
}
.hend6{
    background-color:rgb(121, 52,67) ;
    font-size: 20px;
}
.hend7{background-color: rgb(121, 52,67);
    font-size: 25px;
}
.hend8{
    background-color: rgb(145, 85, 85);
    font-size:20px ;
}
.hend9{
    background-color: rgb(196, 144, 144);
    font-size: 25px;
}
.hend10{
    background-color: rgb(121, 52,67);
    font-size: 20px;
}
.hend11{
    background-color: rgb(163, 71, 71);
    font-size: 25px;
}
.hend12{ background-color: rgb(145, 85, 85);
font-size: 20px;
}
.h11{
    background-color: rgb(109, 28, 59);
    font-size: 45px;
}
.h22{
    background-color: rgb(236, 101, 130);
    font-size: 20px;
}
.h5{
    height: 500px;
} 
.hind1{
    background-color: rgb(197, 233, 162);
    font-size: 25px;
}
.hind2{
    background-color: rgb(197, 233, 162);
    font-size: 30px;
}
.hind3{
    background-color: rgb(197, 233, 162);
    font-size: 30px;
}
.hind4{
    background-color: rgb(197, 233, 162);
    font-size: 30px;
}
.h14{
    font-size: 25px;
}
.hi{
    background-color: rgb(196, 132, 144);
border-bottom: rgb(109, 28, 59);
margin-left: 50px;

}
.h9{
    background-color: rgb(121, 52, 67);
    font-size: 25px;
}
.h20{  
    
    background-color: rgb(196,144,144);
    text-align:right;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    padding-bottom: 25px;
    padding-right: 25px;
    padding-top: 25px;
}
#sec-head{ 
    background-color: rgb(196,144,144);
    text-align:right;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    padding-bottom: 25px;
    padding-right: 25px;
    padding-top: 25px;
    
    
}
#group{   
    background-color: burlywood;
    text-align:right;
    margin-right: 25px;
    margin-left: 25px;
    text-align-last: right; 
    padding-bottom: 25px;
    padding-right: 25px;
    padding-top: 25px;}
    
    
#n { 
    font-size: 20px;
}
    
#st {
    text-decoration-line:underline;
   
   }


